---
---

$wrap: 800px;

.page-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
  gap: 10px;
  margin: 40px 0;
}
.page-image img {
  width: 100%;
}

@media (max-width: $wrap) {
  .page-image {
    width: 100%;
  }
}
